body, div, span, h1, h2, h3, h4, img, p, b, ul, pre, textarea, input, form, a, table, tr, td {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.body_bg{
	background-color: #ffffff;
	background-image: url(../../IMAGES/bg.gif);
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}

ul li {list-style-type: none;}
/****内容部分****/
#main{margin:auto;width:980px;background:#fff; overflow:hidden;}
/**左边内容部分**/
#main .left_content{float:left;width:680px;padding:10px;}
#main_title {width:100%;border-bottom:#99cc00 2px solid ; height:22px;}
#main_title .name {float:left;color:#568900;font-family:"微软雅黑"; font-size:15px;font-weight:bold;text-decoration: none;
background: url(../../IMAGES/bg_page_title.gif) left center no-repeat;padding-left:15px;}
/*
#main_search {border-bottom:#B9D3A6 1px solid;padding:5px; height:24px; background:#F2F8F2;}
.search_button {background:#82BB6D; color:#FFFFFF; border:none; width:50px;}
*/


.show {display:block;}
.hide {display:none;}
.content {word-break:break-all;word-wrap:break-word;}
.search_input {background:#ffffff; color:#ff8800; height:16px; border:#B9D3A6 1px solid;}
#quick {border-bottom:#B9D3A6 1px solid;padding:10px;display:none;background:#F2F8F2;}
#quick textarea { width:600px; height:120px; padding:5px;background:#ffffff;}
#quick input.text {margin:3px 0; background:#ffffff;}
.btn {border:0;background:#f5f5f5 url(../../IMAGES/btn_b.png) left top no-repeat;line-height:26px; width:82px; height:26px; text-align:center; cursor:pointer; color:#fff;padding:0;}
.btn_def { background-position:0 0px}
.btn_def_hv { background-position:0 -26px}
.btn_gray { background-position:0 -52px; color:#515151}
.btn_gray_hv { background-position:0 -78px; color:#515151}
#post_list {margin-top: 5px;}
.list{min-height: 360px;height: auto !important;}

#post_list li {position: relative;clear: both;float: left;width: 100%;line-height: 18px;margin: 0 0 5px;padding: 0 0 5px;
border-bottom: 1px dashed #9fa9b3;font-size: 12px;}
#post_list li .index {float: left;width: 30px;text-align: center;font-family: Georgia, "Times New Roman", Times, serif;
color: #85B000;font-weight: bold;margin-top: 5px;}
#post_list .content {float: left;padding: 5px 0 0 5px;width: 500px;word-break: break-all;word-wrap: break-word;}
#post_list .time {float:left;color:#ABABAB;margin-right:6px;}
/**内容部分**/
#main .right_content{float:left;width:250px;padding:10px;}




/**20160421自己加的属性 开始**/
.b {
    font-weight: bold;
}
.o {
    color: #ff6600;
}
dl.std dt {
    clear: both;
    float: left;
    width: 60px;
    text-align: right;
    margin: 2px 0;
}
dl.std dd {
    margin: 2px 0;
}
dd {
    display: block;
    -webkit-margin-start: 40px;
}
dl.std {
    margin: 5px;
    line-height: 26px;
}
#post_list .title {
    color: #568900;
    font-weight: bold;
    margin: 0px 0px 5px;
}
/**20160421自己加的属性 结束**/





