/****内容部分****/
#main{margin:auto;width:980px;background:#fff; overflow:hidden;}
.body_bg{
	background-color: #ffffff;
	background-image: url(../../IMAGES/bg.gif);
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}

/**左边内容部分**/
#main .left_content{float:left;width:680px;padding:10px;}
#main_title {width:100%;border-bottom:#99cc00 2px solid ; height:22px;}
#main_title .name {float:left;color:#568900;font-family:"微软雅黑"; font-size:15px;font-weight:bold;text-decoration: none;
background: url(../../IMAGES/bg_page_title.gif) left center no-repeat;padding-left:15px;}
#main .left_content .note_content {line-height: 22px;border: #DEDEDE 1px solid;background: #FAFAFA;padding: 10px;
word-break: break-all; word-wrap: break-word;margin: 0 0 10px 0;min-height: 360px;height: auto !important;}
#main .left_content .note_content p{  font-family: verdana,Arial,Helvetica,sans-serif;font-size: 12px;
margin: 0;padding: 0;border: 0;}
/**右边内容部分**/
#main .right_content{float:left;width:250px;padding:10px;}








