<div id="footer">
	<div class="footer-links">
		<a href="__MODULE__/Board/AboutUs">关于我们</a>
		<a href="__MODULE__/Board/Advertisement">广告业务</a>
		<a href="__MODULE__/Board/Problem">常见问题</a>
		<a href="__MODULE__/Board/Contact">联系我们</a>
	</div>
	<div class="clear"></div>

	<div class="copyright">
	©2016 <a href="http://www.miibeian.gov.cn" target="_blank" style="color:#898989;font-size:11px;">京ICP备15011784号</a>
	</div>
</div>
<link rel="stylesheet" href="__HOMECSS__/public/footer.css">