/*
html {color:#000;background:#9fa9b3;}
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
font-family: verdana,Arial,Helvetica,sans-serif;margin:0;padding:0;/*text-align:center;*/}
#container{
	margin-top: 100px;
	width: 550px;
	height: 400px;
	background: #fff;
}
form{
	margin-top: 20px;
}
.body_bg{
	background-color: #ffffff;
	background-image: url(../../IMAGES/bg.gif);
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}