<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Notebook</title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="target"/>
<link rel="icon" type="image/x-icon" href="__PUBLIC__/home_uploads/bitbug_favicon_6464.ico"/>
<link rel="stylesheet" href="__HOMECSS__/Board/index.css">
<script src="__HOMEJS__/jquery-1.10.1.min.js"></script>
</head>

<body class="body_bg">
	<include file="Public:header"/>
	
	<div id="main">
		<div class="left_content"><!----右边内容块---->
			<div id="main_title">
				<div class="name"></div>
			</div>
			<div class="clear"></div>
			<div class="note_content">
				<if condition="$content eq 'AboutUs' ">
					<p>My网络记事本是我和风波及朋友们建立的，</p>
					<p>旨在为大家提供一个简洁明快的笔记网站，</p>
					<p>我们希望能给大家带来方便，这就是我们的动力。。。</p>
				<elseif condition="$content eq 'Advertisement' " />
					<p>广告及商务合作</p>
 					<br/>
					<p>联系人：zyb</p>
					<p>邮箱：2995334125@qq.com</p>
					<p>联系人：fengbo</p>
					<p>邮箱：fengbohello@foxmail.com</p>
				<elseif condition="$content eq 'Problem' " />
					<p>如果有问题，欢迎给我们留言</p>
				<elseif condition="$content eq 'Contact' " />
 					<br/>
					<p>QQ交流群：324863152</p>
					<br/>
					<p>邮箱：fengbohello@foxmail.com</p>
					<p>邮箱：2995334125@qq.com</p>
				</if>
			</div>
		</div>
		
		<div class="right_content"><!----右边新闻块---->
		<h2  >互联网新闻</h2><br/>
		<include file="Public:news"/>
		</div>
	</div>
	<include file="Public:footer"/>
</body>
</html>


